In [76]:
import pandas as pd

In [114]:
df = pd.read_csv("data/sample.csv")

In [88]:
df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,16 quart chicken corn soup,364761,120,1136078,2009-04-06,"['time-to-make', 'course', 'main-ingredient', ...","[893.4, 47.0, 10.0, 27.0, 94.0, 41.0, 40.0]",12,"['fill 16 quart stockpot half full of water', ...",my mom bought what she thought at the time was...,"['whole chickens', 'celery ribs', 'carrot', 'o...",10

In [15]:
df1 = pd.read_csv("data/interactions.csv")

In [16]:
df1.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [90]:
type(df['ingredients'][0])

str

In [116]:
df['ingredients'] = df['ingredients'].apply(lambda x: x[1:-2].split(','))

In [117]:
df['ingredients'][0][0]

"'whole chickens'"